<p id="notice"><%= notice %></p>

<p>
  <b>Person:</b>
  <%= @like.person_id %>
</p>

<p>
  <b>Book:</b>
  <%= @like.book_id %>
</p>


<%= link_to 'Edit', edit_like_path(@like) %> |
<%= link_to 'Back', likes_path %>
