<h1>Listing contains</h1>
<p id="notice"><%= notice %></p>
<table>
  <tr>
    <th>Book</th>
    <th>Article</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contains.each do |contain| %>
  <tr>
    <td><%= contain.book_id %></td>
    <td><%= contain.article_id %></td>
    <td><%= link_to 'Show', contain %></td>
    <td><%= link_to 'Edit', edit_contain_path(contain) %></td>
    <td><%= link_to 'Destroy', contain, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contain', new_contain_path %>
