<%= form_for(@refer) do |f| %>
  <% if @refer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@refer.errors.count, "error") %> prohibited this refer from being saved:</h2>

      <ul>
      <% @refer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :book_id %><br />
    <%= f.number_field :book_id %>
  </div>
  <div class="field">
    <%= f.label :song_id %><br />
    <%= f.number_field :song_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
