<h1>Listing refers</h1>
<p id="notice"><%= notice %></p>
<table>
  <tr>
    <th>Book</th>
    <th>Song</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @refers.each do |refer| %>
  <tr>
    <td><%= refer.book_id %></td>
    <td><%= refer.song_id %></td>
    <td><%= link_to 'Show', refer %></td>
    <td><%= link_to 'Edit', edit_refer_path(refer) %></td>
    <td><%= link_to 'Destroy', refer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Refer', new_refer_path %>
